appoinment booking.json
{
  "name": "AI Voice Call Agent Answers Every Call And Schedule Meetings",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "johnpradeep100@gmail.com",
          "mode": "list",
          "cachedResultName": "johnpradeep100@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -560,
        768
      ],
      "id": "ad1d72f3-41e7-4150-8ec1-01f418b41b40",
      "name": "Check",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5K13XXbp85WylIIy",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -432,
        768
      ],
      "id": "3e7cdd1b-5ea4-4b30-b1e6-4065bd3ae0a5",
      "name": "Current Date"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Name\": \"string\",\n    \"Service_Type\": \"string\",\n    \"Current_Date\": \"string\",\n\t\"Booking_Date_StartTime\": \"string\",\n    \"Booking_Date_EndTime\": \"string\",\n    \"Availability\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -288,
        768
      ],
      "id": "113334e2-d9ae-44e7-83c2-df6fe53970b4",
      "name": "Output format"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        768
      ],
      "id": "189c0fc1-da92-48ff-845f-48124abd19a4",
      "name": "Gemini | Calendar Check",
      "credentials": {
        "googlePalmApi": {
          "id": "LLaLBj6YxFvy9lqc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0edad72c-4ee1-4f68-a859-a6d9a9ca40b6",
              "leftValue": "={{ $json.output.Availability }}",
              "rightValue": "available",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "dace0705-e5f8-4715-9823-ac2b3ec71d71",
              "leftValue": "={{ $json.output.Availability }}",
              "rightValue": "Available",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        496
      ],
      "id": "a6237bd4-1ebd-4019-adb7-eb33ac541cb7",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Call to book an appointment: {{ $json.body.call.transcript }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "1.) Identify the caller's requested date and time to book an appointment\n\n2.) Use Time tool to get current date\n\n3.) Use Google Calendar Check tool to check slot availability for bookings after current date\n\n4.) If caller suggests a time slot, automatically set end time an hour after their suggested time slot as the start time.\n\nOutput:\n- Name of Caller\n- Service Type\n- Current Date\n- Booking Date with Start Time and End time in Google Format\n- Availability"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        496
      ],
      "id": "52aa85f8-6a6b-41e7-b874-a3d489f06335",
      "name": "Availability Checking Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "59cb60aa-de10-44f9-b4d3-cee69eb6f8e0",
      "name": "Gemini | Booking",
      "credentials": {
        "googlePalmApi": {
          "id": "LLaLBj6YxFvy9lqc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "johnpradeep100@gmail.com",
          "mode": "list",
          "cachedResultName": "johnpradeep100@gmail.com"
        },
        "start": "={{ $json.output.Booking_Date_StartTime }}",
        "end": "={{ $json.output.Booking_Date_EndTime }}",
        "additionalFields": {
          "description": "={{ $json.output.Name }}'s {{ $json.output.Service_Type }}",
          "summary": "={{ $json.output.Name }}'s '{{ $json.output.Service_Type }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        176
      ],
      "id": "a73c5683-681b-4407-8f69-d92321d73a67",
      "name": "Book",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5K13XXbp85WylIIy",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Call Output From Retell AI\n\nRetell AI Agent's input from a call.\n",
        "height": 304,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        336
      ],
      "typeVersion": 1,
      "id": "f6b37fa2-a4a4-4ac7-aed6-8f454fa0ca00",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2be5ffdd-dd0c-420a-9a5f-07a9bc361ee3",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        496
      ],
      "id": "045046f8-79f2-4578-ba6f-8620bf3a6a44",
      "name": "calendar_availability",
      "webhookId": "2be5ffdd-dd0c-420a-9a5f-07a9bc361ee3"
    },
    {
      "parameters": {
        "content": "## AI Agent Checks Availability\n\nCheck any slot availability for customer to book an appointment depending on desired schedule.",
        "height": 304,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        336
      ],
      "typeVersion": 1,
      "id": "7749f752-50e4-4011-a41d-493ffa333856",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI Agent Responds\nSuggesting a different schedule if the desired time is filled.",
        "height": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        576
      ],
      "typeVersion": 1,
      "id": "a914e759-8a43-467e-874b-89c87a701e59",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        688
      ],
      "id": "22e7dff0-3e50-490c-ac77-a335be24842c",
      "name": "AI Agent Responds"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an agent that books and confirms the customer's scheduled appointment.\n\nCheck availability of the slot from user input using Google Calendar Get Many Events.\n\nCheck if an appointment has been scheduled for this customer based on service type and if their name is on that time slot booked.\n\nIf a slot has been booked with their name on the calendar, then confirm that their slot has been booked with Google Calendar \"Get Many Events\" tool\n\nIf not then, book the time slot for their appointment. \n\nIf a time slot is filled by a different booking that isn't in their name, then suggest a different slot for them.\n\nIf there is an existing booked appointment with the same time slot and their name on it, then confirm that their appointment has been booked. \n\nIf their name isn't on the booked time slot of their choice, then ask for a different time slot."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "id": "8cf278f7-a6f9-4f5c-82d7-337dec8e0722",
      "name": "Booking Agent"
    },
    {
      "parameters": {
        "content": "## Booking Agent\nWhen the requested appointment slot is available, this agent books that schedule for customer and confirms",
        "height": 432,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        32
      ],
      "typeVersion": 1,
      "id": "3e172e3f-3949-4403-a6c0-9abcc4c878f1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "johnpradeep100@gmail.com",
          "mode": "list",
          "cachedResultName": "johnpradeep100@gmail.com"
        },
        "limit": 2,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        176
      ],
      "id": "7b768c8e-f53a-499d-ad0f-1e7518e2cb83",
      "name": "Confirm slot",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5K13XXbp85WylIIy",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check": {
      "ai_tool": [
        [
          {
            "node": "Availability Checking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Current Date": {
      "ai_tool": [
        [
          {
            "node": "Availability Checking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output format": {
      "ai_outputParser": [
        [
          {
            "node": "Availability Checking Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini | Calendar Check": {
      "ai_languageModel": [
        [
          {
            "node": "Availability Checking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Booking Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Responds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Checking Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini | Booking": {
      "ai_languageModel": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Book": {
      "ai_tool": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar_availability": {
      "main": [
        [
          {
            "node": "Availability Checking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm slot": {
      "ai_tool": [
        [
          {
            "node": "Booking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a68fe01f-4e6b-486a-9ec5-77b23e0a5ca1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f830324371925dec363d109c2bf01c17940558ced6930c958dd8e6c204f8cfcb"
  },
  "id": "IgkwAde4lm63SGBe",
  "tags": []
}